<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>797542657634-uja38297o5tdmqj225kial1pqmotndv9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797542657634-uja38297o5tdmqj225kial1pqmotndv9</string>
	<key>API_KEY</key>
	<string>AIzaSyDaJY3bF5bDUaqKfjqQ_H0Svo4y0zH_dNY</string>
	<key>GCM_SENDER_ID</key>
	<string>797542657634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amanjaiswal.Appoint</string>
	<key>PROJECT_ID</key>
	<string>appoint-c7464</string>
	<key>STORAGE_BUCKET</key>
	<string>appoint-c7464.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797542657634:ios:b95b7f35bdcce620c72b3b</string>
	<key>DATABASE_URL</key>
	<string>https://appoint-c7464.firebaseio.com</string>
</dict>
</plist>